:8080 {
	handle_path /ws {
		reverse_proxy http://127.0.0.1:8765
	}

	handle_path /* {
		root * /src

		# Handle IPv6 clients
		@ipv6Client {
			expression {http.request.host}.startsWith("fc94")
		}

		handle @ipv6Client {
			redir /ui /?ds=foxglove-websocket&ds.url=ws%3A%2F%2F%5B{http.request.host}%5D%3A8765
		}

		# Handle all other requests (from non-IPv6 clients)
		handle {
			redir /ui /?ds=foxglove-websocket&ds.url=ws%3A%2F%2F{http.request.host}%3A8765
		}

		templates {
			mime "text/html"
		}

		file_server
	}
}
