.bar {
  width: 100px;
  height: 75%;
  background-color: #f3f3f3;
  border: 2px solid #333;
  position: relative;
  overflow: hidden;
  border-radius: 1.2rem;
}

.level {
  width: 100%;
  position: absolute;
  bottom: 50%; /* Start from the middle */
  transition:
    height 0.3s,
    top 0.3s,
    bottom 0.3s; /* Smooth transition for the bar changes */
}

.level.positive {
  background-color: #4caf50;
}

.level.negative {
  background-color: #f44336;
}

.percentage {
  position: relative;
  font-size: 1rem;
  margin-top: 10px; /* Add some space between the bar and the percentage text */
  text-align: center;
}
